* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1200px;
}


.container {
	
	width: 100%;
	background: black;
}

.rubik img{
	width: 50%;
	height: 50%;
	text-align: center;
}

.btn {
	text-align: center;
}