/* Reset CSS 
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*main code
*/

* {
	box-sizing: border-box;
}



.container {
	margin: 0 auto;
	background: black;
	padding: 0;
	min-width: 1200px;
	width: 100%;
	height: 100%;

}

.rubik {
	text-align: center;
}

.rubik img{
	width: 40%;
	height: 40%;
	
}

.buttons {
	text-align: center;
	padding: 20px;
}

.btn {
	background-color: #ccc;
}

.btn a {
	text-decoration: none;
	text-transform: capitalize;
}


footer {
	display: flex;
	flex: 1;
	height: 100px;
	background: #0d1a26;
	color: white;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}



[class*='icon-'] {
	height: 50px;
	width: 50px;
	border-radius: 20%;
	
}

[class*='icon-'] img {
	width: 100%;
}



/* RWD
*/


@media (max-width: 768px) {

.container {
    max-width: 768px;
}

footer {
	flex-direction: column;
}
}