
* {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

[class*='col-'] {
	float: left;
}

body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}


.container {
	max-width: 1200px;
	margin-right: 0;
	margin-left: 0;
	
}

.navi {
	height: 50px;
	background: grey;
}

.cube {
	padding: 15px;
}

/* grid */

.col-1 {
	width: 8.33%;
}


.col-2 {
	width: 16.66%;	

}


.col-3 {
	width: 25%;	
}


	
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;	
}


.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;	
}


.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

/* offset */

.col-offset-1 {
	margin-left: 8.33%;
}

.col-offset-2 {
	margin-left: 16.66%;	

}


.col-offset-3 {
	margin-left: 25%;	
}


	
.col-offset-4 {
	margin-left: 33.33%;
}
.col-offset-5 {
	margin-left: 41.66%;	
}


.col-offset-6 {
	margin-left: 50%;
}
.col-offset-7 {
	margin-left: 58.33%;	
}


.col-offset-8 {
	margin-left: 66.66%;
}
.col-offset-9 {
	margin-left: 75%;
}
.col-offset-10 {
	margin-left: 83.33%;
}

.col-offset-11 {
	margin-left: 91.66%;
}

[class*='box-'] {
	border: 2px solid black;
	height: 90px;
	border-radius: 20%;
	display: inline-block;
}

.container {
	background: black;
}

[class*='box-red-side-'] {
	background: red;
}
[class*='box-white-side-'] {
	background: white;
}
[class*='box-yellow-side-'] {
	background: yellow;
}
[class*='box-orange-side-'] {
	background: orange;
}
[class*='box-green-side-'] {
	background: green;
}
[class*='box-blue-side-'] {
	background: blue;
}


.flag a {
	float: right;
}

.flag a img {
	width: 70px;
	height: 50px;
}

[class*='box-'] a {
	text-decoration: none;
	font-weight: bold;
	color: black;
	text-transform: capitalize;
	margin: 0 auto;


}


/* animations */


/*
.box-red-side-1:visited {
	background: red;
}
*/

[class*='box-red-side-']>a:visited {
	background: red;
}
[class*='box-yellow-side-'] a:visited {
	background: yellow;
}
[class*='box-blue-side-'] a:visited {
	background: blue;
}
[class*='box-white-side-'] a:visited {
	background: white;
}
[class*='box-green-side-'] a:visited {
	background: green;
}
[class*='box-orange-side-'] a:visited {
	background: orange;
}

[class*='box-']:hover {
	opacity: 0.5;
}


footer {
	display: flex;
	flex: 1;
	height: 100px;
	background: #0d1a26;
	color: white;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
}


[class*='icon-'] {
	height: 50px;
	width: 50px;
	border-radius: 20%;

}

[class*='icon-'] img {
	width: 100%;
}
